.progress-bar-container {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  min-width: 100px;
}

.progress-bar {
  height: 6px;
  background-color: #ff9f00;
  border-radius: 10px;
  transition: width 0.2s ease-in-out;
}
