.sidebar {
  @apply bg-slate-500 rounded-md;
}
.sidebarBottom {
  background-color: inherit;
  padding: 1rem;
  margin-bottom: 0.625rem;
  border-radius: 0.625rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuContainer {
  width: 100%;
}

.menuItem {
  padding: 0.625rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: inherit;
  border-radius: 0.25rem;
  transition: background-color 100ms ease;
  color: #000;
  text-decoration: none;
}

.menuItem + .menuItem {
  margin-top: 0.625rem;
}

.menuItem:hover,
.menuActive {
  @apply bg-slate-400 text-white;
}

.menuTitle {
  padding: 0.25rem;
  margin-left: 0.5rem;
}

.menuImage {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 0.025rem;
  object-fit: contain;
  object-position: center;
}
