.tabs {
  display: flex;
  flex-wrap: wrap; /* Cho phép các tab tự động xuống dòng khi tràn */
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.tab {
  font-size: 14px;
  padding: 8px 10px;
  cursor: pointer;
  color: #afb7bd;
  border-bottom: 2px solid transparent;
  transition:
    color 0.3s,
    border-bottom-color 0.3s;
}

.tab:hover {
  color: #fff;
  border-bottom-color: #fff;
}

.tab.active {
  color: #fff;
  border-bottom-color: #fff;
}
